<div class="row">

    <h1 class="title">Educational Background</h1><hr>
    <mat-grid-list cols="3">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Master of Science</mat-card-title>
                  <mat-card-subtitle
                    >Computer Science</mat-card-subtitle
                  >
                  <div style="margin-top: 5px">GPA: 3.88</div>
                </mat-card-header>
                <!-- <img class="mat-card-image image-responsive"
                  mat-card-image
                  src="http://media.bizj.us/view/img/3862341/uncc-01-jw*750xx2896-1631-0-100.jpg"
                  alt="unc-charlotte-1024x505"
                /> -->
                <mat-card-content>
                  <p>
                      University of North Carolina at Charlotte
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>Bachelor of Technology</mat-card-title>
                  <mat-card-subtitle
                    >Computer Science</mat-card-subtitle
                  >
                  <div style="margin-top: 5px">GPA: 3.6</div>
                </mat-card-header>
                <!-- <img class="mat-card-image image-responsive"
                  mat-card-image
                  src="https://i.ytimg.com/vi/rNBrPWebcZo/hqdefault.jpg"
                  alt="vjti-mumbai"
                /> -->
                <mat-card-content>
                  <p>
                    Veermata Jijabai Technological Inst, Mumbai
                  </p>
                </mat-card-content>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>
