.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
  color: darkcyan;
}

h1.example-app-name {
  margin-left: 14px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer-side {
  /* background-color: azure; */
  text-decoration-color: rgb(182, 171, 192);
  /* font-style: italic; */
  font-size: large;
}

.example-matnav-list {
  margin: 1px;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  cursor: pointer;
  padding: 0 5px;
}

.img-responsive {
  cursor: pointer;
}

img {
  border-radius: 50%;
  margin-left: 45px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mat-list-item {
  /* padding: 5px; */
  /* border: 1px solid black; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.drag-container {
  margin-left: 35px;
  margin-right: 35px;
}
