<div class="row" style="width:800px; margin:0 auto; margin-top: 50px">
  <div class="col-md-5" style="float: left; margin-right: 60px; margin-top: 40px">
    <div class="row">
      <div class="col-xs-12">
        <img
        [src]="imageUrl"
        alt=""
        class="img-responsive"
        style="max-height: 400px;"  >
        <br>
      </div>
    </div>
  </div>
  <div class="col-md-7" >
    <div class="row">
      <div class="col-xs-12">
        <div class="title">Prayas Rode</div><br>
        <div class="subtitle">Software Engineer, Charlotte, NC</div>
        <hr>
        <br>
        <p class="content">I am a Software Engineer having more than 3 years of experience of building reliable and sclable softwares. I love exploring new technologies and carry a passion to build great software applications.</p>
      </div>
    </div>
  </div>
</div>

